h1{My School Life


  font-family: verdana;

  color:blue;

}


 h2{My achievements, CCA, Hobbies/Interests

  font-family: verdana;

  color:blue;

}


p{My Achievements

 font-family: verdana;

}


body {

    background-color: #33ccff;

}




